/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
b, u, i, center,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
	margin-top: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INCEPUT TEXT CSS */
/* BARA DE NAVIGARE */

	.lista ul {
		list-style-type: none;
		margin-top: 0;
		padding: 1px;
		overflow: hidden;
		background-color: #333333;
		width: 100%;
	}

	.lista li {
		float: left;
	}

	li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}

	.lista li a:hover, .dropdown:hover .dropbtn {
		background-color: #111111;
		border-radius: 2px;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
  		display: none;
  		position: absolute;
  		background-color: #aaa;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}

	.dropdown-content a {
  		color: white;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
  		
	}


	.dropdown:hover .dropdown-content {
  		display: block;
	}

	.lista li img {
		margin: 1%;
		margin-right: 10px;
		margin-left: 10px;
	}

	.activ {
  		background-color: #aaa;
  		border-radius: 2px;
	}

	.menu-wrap {
		display: none;
	}
	header .logo_mare{
		display: none;
	}

@media screen and (max-width: 320px) {
	
	header .logo_mare{
		display: block;
		padding-top: 10px;
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 360px) {

	.menu-wrap {
		display: block;
	}

	.culoare_fundal {
		display: block;
		width: 100%;
		height:80px;
		background-color: #111111;
	}

	header .logo_mare{
		position: relative;
		display: block;
		padding-top: 7%;
		padding-bottom: 10px;
		margin-top: -29%;
		float: left;
	}

	.lista ul { 
		display: none;
		margin-top: -20%;
		width: 100%;
	}

	li a, .dropbtn { /* Aici se alinieaza header-ul X*/
		width: 250%;
		padding: 26px 0;
		margin-left: -75%;
		text-align: center !important;
	}

	
	.menu li ul {
		text-align: center;
	}
	
	..dropdown-content { /* Aici se aliniaza ce-i sub portofoliu */
  		margin-left: -4.375%;
  		background-color: #aaa;
  		z-index: 1;
  		width: 18%;
	}

	.dropdown {
		display: block;
	}

	.dropdown a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	transition: .3s;
	font-size: 1.2rem;
	display: block;
	}

	.menu ul li {
		text-align: center;
	}


	.menu-wrap {
		visibility: visible;
		width: 100%;
	}

	.menu-wrap{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #999999;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 5%;
	left: 0;
	width: 100%;
	height: 60%;
	visibility: hidden;
	transition: .6s;
}

.menu > div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 2600px;
    height: 2600px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 100vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	
	
	text-transform: uppercase;
	text-align: center !important;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}
  
.menu > div > div > ul > li > a:hover{
	color: white;
	background-color: #111111;
}

.dropdown a:hover {
	color: white;
	background-color: #111111;
}


.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}
}


@media screen and (max-width: 450px) {

	.menu-wrap {
		display: block;
	}

	.culoare_fundal {
		display: block;
		width: 100%;
		height:80px;
		background-color: #111111;
	}

	header .logo_mare{
		position: relative;
		display: block;
		padding-top: 7%;
		padding-bottom: 10px;
		margin-top: -29%;
		float: left;
	}

	.lista ul { 
		display: none;
		margin-top: -20%;
		width: 100%;
	}

	li a, .dropbtn { /* Aici se alinieaza header-ul X*/
		width: 250%;
		padding: 16px 0;
		margin-left: -75%;
		text-align: center !important;
	}

	
	.menu li ul {
		text-align: center;
	}
	
	.dropdown-content { /* Aici se aliniaza ce-i sub portofoliu */
  		margin-left: -4.375%;
  		background-color: #aaa;
  		z-index: 1;
  		width: 18%;
	}

	.dropdown {
		display: block;
	}

	.dropdown a {
	text-decoration: none;
	color: #fff;
	
	text-transform: uppercase;
	transition: .3s;
	font-size: 1.2rem;
	display: block;
	}

	.menu ul li {
		text-align: center;
	}


	.menu-wrap {
		visibility: visible;
		width: 100%;
	}

	.menu-wrap{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #999999;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 5%;
	left: 0;
	width: 100%;
	height: 60%;
	visibility: hidden;
	transition: .6s;
}

.menu > div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 2600px;
    height: 2600px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 100vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	
	text-transform: uppercase;
	text-align: center !important;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}
  
.menu > div > div > ul > li > a:hover{
	color: white;
	background-color: #111111;
}

.dropdown a:hover {
	color: white;
	background-color: #111111;
}


.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

}
/* Aici se termina bara de navigare*/

	
	a{
		text-decoration: none;
		color: white;
	}

	.chenar {
		position: absolute;
		top: 30%;
		left: 25%;
		margin: 0px auto 0 auto;
		width: 600px;
		height: 100px;
		border: 2px solid white;
		border-radius: 10px; 
		overflow: hidden;
		transition: 2s !important;
		z-index: 0;
	}


	.prezentare, .prezentare2 {
		width: auto;
		height: 100px;
		text-align: center;
		line-height: 110px;
		text-transform: uppercase;
		font-family: Engravers MT Expanded Medium;
		}
		
	.prezentare {
		height: 130px;
		background-color: rgba(248, 253, 254, 0.25);
	}

	.prezentare2{
		margin-top:-5%;
		background-color: rgba(248, 253, 254, 0.35);
	}
	
	.functie  {
		font-size: 30px;
		letter-spacing: 125px;
		margin-top: -60px;
		margin-left: 1%;
		transition: 3s !important;
	}

	.prezentare p{
		margin-top: -25px;
		font-size: 45px;
		padding-top: 3px
		letter-spacing: 20px;
		
		transition: 3s !important;
	}

	.prezentare2 p {
		letter-spacing: 30px;
		font-size: 45px;
		padding-left: 22.5px;
	}

	.prezentare:hover {
		margin-top: -130px;
		transition: 1.5s !important;
	}



	.box {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		background-color: #eee;
		justify-content: center;
		align-items: center;
	}

	.poze{
		transition: 1s;
		padding: 2.5px;
		margin: 0.1% 0.1% 0.1% 0.1%;
		width: 20%;
		opacity: 0.9;
	}

	.poze:hover {
		opacity: 1;
		transform:scale(0.9);

	}

	.poze img {
		border-radius: 4px;
	}

@media screen and (max-width: 1100px) {
	img{
		margin-top: -0.5%;
		
	}

	.chenar {
		top: 15%;
		left: 5%;
		right: 5%;
		width: 300px;
		height: 50px;
		
	}

	.prezentare {
		
		font-size: 43%;
		line-height: 90px;
		font-family: "Times New Roman", Times, serif;
	}

	.functie p{
		font-size: 12.5px !important;
		margin-top: -70px !important;
		letter-spacing: 60px !important;
		font-family: "Times New Roman", Times, serif;
		padding-left: 3px;
	}


	.prezentare2 p {
		padding-top: 15px;
		padding-right: 1200%;
		font-size: 30px !important;
		letter-spacing: 10px;
		font-family: Engravers MT Expanded Medium;
	}

	.prezentare2 p {
		padding-left: 10px !important;
	}

	}

	.poze img {
		border-radius: 4px;
	}

@media screen and (max-width: 550px) {
		section img{
		margin-top: 0%;
	}

	.box img {
		margin-top: 0;
		padding: 2.5px;
		margin-left: -135.5px;
		width: 340px;
		
	}

	.box {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	
	}

	.chenar {
		top: 14%;
		left: 5%;
		right: 5%;
		width: 300px;
		height: 50px;
		
	}

	.prezentare {
		
		font-size: 43%;
		line-height: 90px;
		font-family: "Times New Roman", Times, serif;
	}

	.functie p{
		font-size: 12.5px !important;
		margin-top: -70px !important;
		letter-spacing: 60px !important;
		font-family: "Times New Roman", Times, serif;
		padding-left: 3px;
	}


	.prezentare2 p {
		padding-top: 15px;
		padding-right: 1200%;
		font-size: 30px !important;
		letter-spacing: 10px;
		font-family: Engravers MT Expanded Medium;
	}

	.prezentare2 p {
		padding-left: 10px !important;
	}

	}

	.poze img {
		border-radius: 4px;
	}

	@media screen and (max-width: 375px) {
	section img{
		margin-top: 0%;
	}

	.box img {
		margin-top: 0;
		padding: 2.5px;
		margin-left: -135.5px;
		width: 340px;
		
	}

	.box {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	
	}

	.chenar {
		top: 15%;
		left: 5%;
		right: 5%;
		width: 300px;
		height: 50px;
	}

	.prezentare {
		
		font-size: 43%;
		line-height: 90px;
		font-family: "Times New Roman", Times, serif;
	}

	.functie p{
		font-size: 12.5px !important;
		margin-top: -70px !important;
		letter-spacing: 60px !important;
		font-family: "Times New Roman", Times, serif;
		padding-left: 3px;
	}

	.prezentare2 p {
		padding-top: 15px;
		padding-right: 1200%;
		font-size: 30px !important;
		letter-spacing: 10px;
		font-family: Engravers MT Expanded Medium;
	}

	.prezentare2 p {
		padding-left: 10px !important;
	}

	}

	.poze img {
		border-radius: 4px;
	}

@media screen and (max-width: 360px) {
		section img{
		margin-top: 0%;
	}

	.box img {
		margin-top: 0;
		padding: 2.5px;
		margin-left: -135.5px;
		width: 340px;
		
	}

	.box {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	
	}

	.prezentare {
		
		font-size: 43%;
		line-height: 90px;
		font-family: "Times New Roman", Times, serif;
	}

	.functie p{
		font-size: 12.5px !important;
		margin-top: -70px !important;
		letter-spacing: 60px !important;
		font-family: "Times New Roman", Times, serif;
		padding-left: 3px;
	}

	.chenar {
		top: 13%;
		left: 3%;
		right: 3%;
		width: 300px;
		height: 50px;
		
	}

	.prezentare2 p {
		padding-top: 15px;
		padding-right: 1200%;
		font-size: 30px !important;
		letter-spacing: 10px;
		font-family: "Times New Roman", Times, serif;
	}

	.prezentare2 p {
		padding-left: 10px !important;
	}

	}

	.poze img {
		border-radius: 4px;
	}

@media screen and (max-width: 325px) {
	section img{
		margin-top: 0%;
	}

	.box img {
		margin-top: 0;
		padding: 2.5px;
		margin-left: -135.5px;
		width: 340px;
		
	}

	.box {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	
	}

	.chenar {
		top: 15%;
		left: 2%;
		right: 2%;
		width: 300px;
		height: 50px;
		
	}

	.prezentare {
		
		font-size: 43%;
		line-height: 90px;
		font-family: "Times New Roman", Times, serif;
	}

	.functie p{
		font-size: 12.5px !important;
		margin-top: -70px !important;
		letter-spacing: 60px !important;
		font-family: "Times New Roman", Times, serif;
		padding-left: 3px;
	}


	.prezentare2 p {
		padding-top: 15px;
		padding-right: 1200%;
		font-size: 30px !important;
		letter-spacing: 10px;
		font-family: Engravers MT Expanded Medium;
	}

	.prezentare2 p {
		padding-left: 10px !important;
	}

	}



	.poze img {
		border-radius: 4px;
	}
	

/* Aici incepe footer-ul */


	.sectiune {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: auto;
		background-color: #333333;
		text-align: center;

	}

	.sectiune .scrisst {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;

	}

	.sectiune .logo {
		padding-top: 1.5%; 
		width: 33.3%;
		color: white;
	}

	.logo a {
		color: white;
		opacity: 0.5;
		padding-left: 7.5px;
		font-size: 20px;
	}

	.logo a:hover {
		opacity: 1;
	}

	.sectiune .scrisdr {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;
	}

	.textst {
		text-align: left;
	}

	.textdr {
		text-align: right;
	}


	@media screen and (max-width: 550px) {
		.sectiune .logo {
		padding-top: 3%;
	}
		.logo a {
			font-size: 15px;
		}
		.sectiune p  {
			font-size: 8px;
			margin: 0 4px;
		}
	}
	/* Aici se termina footer-ul*/