/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: white;
	margin-top: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* INCEPUT TEXT CSS */
/* BARA DE NAVIGARE */

	.lista ul {
		list-style-type: none;
		margin-top: 0;
		padding: 1px;
		overflow: hidden;
		background-color: #333333;
		width: 100%;
	}

	.lista li {
		float: left;
	}

	li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}

	.lista li a:hover, .dropdown:hover .dropbtn {
		background-color: #111111;
		border-radius: 2px;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
  		display: none;
  		position: absolute;
  		background-color: #aaa;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}

	.dropdown-content a {
  		color: white;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
  		
	}


	.dropdown:hover .dropdown-content {
  		display: block;
	}

	.lista li img {
		margin: 1%;
		margin-right: 10px;
		margin-left: 10px;
	}

	.activ {
  		background-color: #aaa;
  		border-radius: 2px;
	}

	.menu-wrap {
		display: none;
	}
	header .logo_mare{
		display: none;
	}

@media screen and (max-width: 320px) {
	
	header .logo_mare{
		display: block;
		padding-top: 10px;
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 360px) {

	.menu-wrap {
		display: block;
	}

	.culoare_fundal {
		display: block;
		width: 100%;
		height:80px;
		background-color: #111111;
	}

	header .logo_mare{
		position: relative;
		display: block;
		padding-top: 7%;
		padding-bottom: 10px;
		margin-top: -29%;
		float: left;
	}

	.lista ul { 
		display: none;
		margin-top: -20%;
		width: 100%;
	}

	li a, .dropbtn { /* Aici se alinieaza header-ul X*/
		width: 250%;
		padding: 26px 0;
		margin-left: -75%;
		text-align: center !important;
	}

	
	.menu li ul {
		text-align: center;
	}
	
	.dropdown-content { /* Aici se aliniaza ce-i sub portofoliu */
  		margin-left: -3.75%;
  		background-color: #aaa;
  		z-index: 1;
  		width: 18%;
	}

	.dropdown {
		display: block;
	}

	.dropdown a {
	text-decoration: none;
	color: #fff;
	
	text-transform: uppercase;
	transition: .3s;
	font-size: 1.2rem;
	display: block;
	}

	.menu ul li {
		text-align: center;
	}


	.menu-wrap {
		visibility: visible;
		width: 100%;
	}

	.menu-wrap{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #999999;
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #111111;
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 5%;
	left: 0;
	width: 100%;
	height: 60%;
	visibility: hidden;
	transition: .6s;
}

.menu > div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 2600px;
    height: 2600px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 100vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	
	
	text-transform: uppercase;
	text-align: center !important;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}
  
.menu > div > div > ul > li > a:hover{
	color: white;
	background-color: #111111;
}

.dropdown a:hover {
	color: white;
	background-color: #111111;
}


.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}
}


@media screen and (max-width: 450px) {

	.menu-wrap {
		display: block;
	}

	.culoare_fundal {
		display: block;
		width: 100%;
		height:80px;
		background-color: #111111;
	}

	header .logo_mare{
		position: relative;
		display: block;
		padding-top: 7%;
		padding-bottom: 10px;
		margin-top: -29%;
		float: left;
	}

	.lista ul { 
		display: none;
		margin-top: -20%;
		width: 100%;
	}

	li a, .dropbtn { /* Aici se alinieaza header-ul X*/
		width: 250%;
		padding: 16px 0;
		margin-left: -75%;
		text-align: center !important;
	}

	
	.menu li ul {
		text-align: center;
	}
	
	.dropdown-content { /* Aici se aliniaza ce-i sub portofoliu */
  		margin-left: -3.75%;
  		background-color: #aaa;
  		z-index: 1;
  		width: 18%;
	}

	.dropdown {
		display: block;
	}

	.dropdown a {
	text-decoration: none;
	color: #fff;
	
	text-transform: uppercase;
	transition: .3s;
	font-size: 1.2rem;
	display: block;
	}

	.menu ul li {
		text-align: center;
	}


	.menu-wrap {
		visibility: visible;
		width: 100%;
	}

	.menu-wrap{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

.toggler{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburger{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #111111; /* aici schimbi culoarea la disc*/
}

.hamburger>div{
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #ffffff; /* aici schimbi culoarea la linia din mijloc*/
	transition: .4s;
}

.hamburger>div:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #ffffff; /* aici schimbi culoarea la linia de sus*/
	top: -10px;
	left: 0;
	transition: .4s;
}

.hamburger>div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background-color: #ffffff; /* aici schimbi culoarea la linia de jos*/
	top: 10px;
	left: 0;
	transition: .4s;
}

.toggler:checked + .hamburger>div{
	transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
	transform: rotate(225deg);
}

.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
	top: 0;
	transform: rotate(90deg);
}

.menu{
	position: fixed;
	top: 5%;
	left: 0;
	width: 100%;
	height: 60%;
	visibility: hidden;
	transition: .6s;
}

.menu > div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 2600px;
    height: 2600px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu > div > div{
	max-width: 100vw;
	max-height: 100vh;
	opacity: 0;
	transition: .6s;
}

.menu > div > div > ul > li{
	list-style: none;
}

.menu > div > div > ul > li > a{
	text-decoration: none;
	
	text-transform: uppercase;
	text-align: center !important;
	transition: .3s;
	font-size: 1.2rem;
	display: inline-block;
}
  
.menu > div > div > ul > li > a:hover{
	color: white;
	background-color: #111111;
}

.dropdown a:hover {
	color: white;
	background-color: #111111;
}


.toggler:checked ~ .menu{
	visibility: visible;
}

.toggler:checked ~ .menu > div{
	transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
	opacity: 1;
}

}
/* Aici se termina bara de navigare*/

	*{
	box-sizing: border-box;
}

	.continut {
		padding: 10px 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-decoration: none;
	}

	.continut a {
		text-decoration: none;
		font-size: 20px;
		text-transform: uppercase;
		padding: 0 5px 0 5px;
	} 	


	.continut a:hover {
		color: rgba(0, 0, 0, 1) !important;
	}

	.activ2  {
  		color: rgba(0, 0, 0, 1);
	} 

	.body {
		margin: 0;
		font-family: Arial;
	}


	.row { /* pentru bara de navigare de copiat de aici */
		display: flex;
		flex-wrap: wrap;
		padding: 0 5px;
		margin-top: 0px;
		z-index: -1;
	}
	.coloana {
		flex-wrap: wrap;
		max-width: 16.66%;
		padding: 0 5px;
	}

	.coloana .column img {
		margin-top: 8px;
		vertical-align: middle;
	}

	.coloana .column img:hover {
		transition: 1s;
		opacity: 0.25;
	}

	.header { /* pentru bara de navigarede copiat de aici */
		background-color: white;
		position: sticky;
		margin-top: 0px;
		z-index: 1;
	}

	@media (max-width: 900px) {

  .coloana {
    flex: 33.3%;
    max-width: 33.3%;
  }
    .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }

  
}

	@media (max-width: 650px) {
  .coloana {
    flex: 50%;
    max-width: 50%;
  }
  .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }

  
}

	@media (max-width: 550px) {
  .coloana {
    flex: 100%;
    max-width: 100%;
  }
  
  .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }
  .header a {
			font-size: 12px;
   }
   .header { /* pentru bara de navigarede copiat de aici */
		background-color: white;
		

	}
	.row { /* pentru bara de navigare de copiat de aici */
		margin-top: 0px;
	}
}



/* Aici incepe footer-ul */


	.sectiune {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: auto;
		background-color: #333333;
		text-align: center;
	}

	.sectiune .scrisst {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;

	}

	.sectiune .logo {
		padding-top: 1.5%; 
		width: 33.3%;
		color: white;
	}

	.logo a {
		color: white;
		opacity: 0.5;
		padding-left: 7.5px;
		font-size: 20px;
	}

	.logo a:hover {
		opacity: 1;
	}

	.sectiune .scrisdr {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;
	}

	.textst {
		text-align: left;
	}

	.textdr {
		text-align: right;
	}


	@media screen and (max-width: 550px) {
		.sectiune .logo {
		padding-top: 3%;
	}
		.logo a {
			font-size: 15px;
		}
		.sectiune p  {
			font-size: 8px;
			margin: 0 4px;
		}
	}
	/* Aici se termina footer-ul*/
	